{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block style %}
img{
height:500px;
width:100%}
}
{% endblock %}
{% block body %}
    <div id="maindiv">
    <img src="https://img.freepik.com/free-photo/flat-lay-health-still-life-arrangement-with-copy-space_23-2148854064.jpg" alt="my images">
    <h2 style="text-align:center;color:blue"><b><u>About us</u></b></h2><br><br>
        <p>ABC HOSPITAL, one of the leading service providers to the health care world,
            was established in the year 1973 by the Adoration Sisters of the Blessed Sacrament (S.A.B.S.), S.H. Province, Ernakulam.<br>

        Being Kerala's reputed and trusted institution, Mercy Hospital has always succeeded in
            upholding true Christian values of love and compassion coupled with a rich experience and an in-depth understanding of Quality Health Care Service.</p>
</div>


{% endblock %}