{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block style %}
#maindiv{


}
img{
height:500px;
width:100%}
{% endblock %}
{% block body %}
<div id="maindiv">
    <img src="https://img.freepik.com/free-photo/flat-lay-health-still-life-arrangement-with-copy-space_23-2148854064.jpg" alt="my images">
    <h2 style="text-align:center;color:blue"><b><u>Contact us</u></b></h2><br><br>
</div>
<div style="text-align:center">
    <h3><i style="color:green"class="material-icons">&#xe55f;</i> <u>Address</u></h3>
    <p>  Pothy, Puthuveli Rd, Thalayolaparambu, Kottayam</p><br><br>
    <h4><i style="color:green" class="material-icons">&#xe551;</i><u> Phone Number</u></h4>
    <p>  04829 238749 / 04829 236131</p><br><br>
    <h4><i style="color:green" class="material-icons">&#xe554;</i> <u>Email</u></h4>
    <p>ABChospital@gmail.com</p>

</div>
{% endblock %}