<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js",></script>
    <style>
        #hos{
        }
        #des{
        padding-left:50px;
        }
    </style>
</head>
<body>

<div id="bill1" class="col">

            <div  class="container mx-2">
                <div id="hos" class="row">
                    <div class="col">
                        <h2>Hospital Management </h2>
                    </div>
                    <div class="col">

                    <div class="bill_maindiv">
                        <label>Admit date :</label>
                        {% for i in data2 %}
                        <label>{{i.Date}}</label>
                        {% endfor %}
                        <label>Days spent: </label>
                        <label></label>

                        <label>Release date :</label>
                        {% for i in data3 %}

                        <label>{{i.Release_date}}</label><br>
                        {% endfor %}

                    </div>
                        </div>
                </div><br><br>
                <div class="row">
                    <div  class="col">
                        {% for i in data %}
                        <label>Patient Name :</label>
                        <label>{{i.firstname}} {{i.lastname}}</label><br>
                        <label>Patient Mobile :</label>
                        <label>{{i.MOBILE}}</label><br>
                        <label>Patient Address :</label>
                        <label>{{i.ADDRESS}}</label><br>
                        {% endfor %}
                    </div>
                    <div id="doc_name1" class="col">
                        <label>Doctor Name :</label>
                        {% for i in data4 %}
                        <label>{{i.first_name }} {{i.last_name}}</label><br>
                        {% endfor %}
                    </div>
                </div><br>
                <div class="row">
                    <div id="sym1" class="col">
                        <h6>Disease and Symptoms</h6>
                    </div>
                </div>
                <div class="row">

                    <div id="des" class="col">
                        {%for i in data2 %}
                        <h6>{{i.Description}}</h6>
                        {% endfor %}
                    </div>


                </div>
                <div id="item1" class="row">
                    <div class="col">
                       <label>Item</label>


                        <label>Price</label>


                    </div>
                </div><br>

                {% for i in data3 %}
                <div class="row">
                    <div class="col">
                        <label>Room charge(per day)</label>

                    </div>
                    <div class="col">
                        <label>{{i.Room_charge}}</label>
                    </div>
                </div><br>
                    <div class="row">
                        <div class="col">
                        <label>Doctor Fee </label>
                        </div>
                        <div class="col">
                            <label>{{i.Doc_fee}}</label>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col">
                            <label>Medicine Cost</label>
                        </div>
                        <div class="col">
                            <label>{{i.Medicine_cost}}</label>

                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col">
                            <label>Other Charge</label>
                        </div>
                        <div class="col">
                            <label>{{i.Other_charge}}</label>

                        </div>
                    </div><br>
                        <div class="row">
                            <div class="col">

                            </div>
                            <div class="col">
                                <label>Total</label>
                                <label>{{i.Total_charge}}</label>
                            </div>

                        </div>
                {% endfor %}
<!--                <div class="row">-->
<!--                    <div class="col"></div>-->
<!--                    <div class="col">-->

<!--                       <a href="bill_pdf{{data2.id}}"><button type="button" class="btn btn-success">Download Pdf </button></a>-->

<!--                    </div>-->
<!--                </div>-->


            </div>

            </div>

</body>
</html>