{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block style %}
.maindiv{border:2px solid black;
margin:120px;
height:500px;
}
.div1{

height:130px;
background-color:SlateBlue;
padding:50px;
text-align:center;
color:white;
}
#form1{
padding-top:50px;
padding-left:50px;

}

{% endblock %}
{% block body %}
<div class="maindiv">
        <div class="div1">
            <h5><b>Patient Login Page </b></h5>
        </div>
    <div id="form1">
            <form method="POST"  >
		{% csrf_token %}
				<div class="row">
					<div class="col">
		<input type="text" name="USERNAME" placeholder="username">

					</div>
						<div class="col">
		<input type="text" name="PASSWORD" placeholder="password"><br><br>
						</div>
				</div>
							<div style="text-align:center;" class="row">
					<div class="col">
		<input type="submit" name="submit" value="Submit"><br><br>
						</div>
							</div>
				<div class="row">
					<div class="col">
					<h6 style="text-align:center;">Do not have account?? <a href="{% url 'patient_signup' %}" target="_blank">SignUp here </a> </h6>
						</div>
				</div>
			</form>
	</div>
</div>

{% endblock %}